
@import "~bootstrap/scss/bootstrap";

body {
  background-color: whitesmoke;
}

h1.display-4 {
  text-align: center;
  font-size: 40px;
}

p.caption {
  text-align: center;
  font-size: 0.8em;
}

.row {
  margin-top: 4em;
}
